#!/bin/bash
BACKUP_DIR={{ backup_dir }}
DATE=$(date +%Y%m%d%H%M%S)
PGPASSWORD={{ db_password }} pg_dump -U {{ db_user }} -h localhost {{ db_name }} | gzip > $BACKUP_DIR/{{ db_name }}_$DATE.sql.gz

# Delete backups older than 7 days
find $BACKUP_DIR -type f -name "{{ db_name }}_*.sql.gz" -mtime +7 -delete
